header {
  /* height: 200px; */
  background-color: var(--brand);
}

nav.navigation {
  text-align: center;
  /* height: 100%; */
  /* height: 200px;
  line-height: 200px; */
}

.navigation a {
  font-size: 2em;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #f33;
  /* display: inline; */
  /* display: block; */
  /* display: inline-block; */
  /* display inline elements do not accept width and height */
  /* width: 200px; */

  /* margin left and right work on inline element */
  /* margin-left: 50px;
  margin-right:   50px; */

  /* margin top and bottom do not work for inline elements */
  /* margin-top: 100px;
  margin-bottom: 200px; */

  /* inline elements accept padding left/right */
  /* padding-left: 50px;
  padding-right: 50px; */

  /* sort of work but not, they bleed onto other elements */
/* padding-top: 300px;
padding-bottom: 300px; */
}

a.button-1 {
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    border: 3px solid #000;
    display: inline-block;
    width: 140px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: background-color 500ms;
}

a.button-1:hover {
  background-color: #f33;
  color: #fff
}

a.button-2 {
  background-color: #f99;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 10px 30px;
  border: 2px solid;
  transition-property: background-color;
  transition-duration: 600ms;
}

a.button-2:hover {
  background-color: #f11;
}
