.btn {
  width: 100px;
  height: 40px;
  background-color: var(--brand);
  border: 2px solid var(--brand);
  cursor: pointer;
  /* transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out; */
  /* transition: background-color 400ms, color 400ms; */
  transition: background-color 400ms;
}

/* :hover */
.btn:hover {
  background-color: var(--brand-txt);
  color: var(--brand);
}